@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade--appear{
    opacity:0 ;
    &-active {
        opacity:  0;
        transition: opacity 2s;
        &-done {
            opacity: 1;
        }
    }
}

.hp-section-title {
    height: auto;
    min-height: 100vh;
    background: url(../assets/img/background1.jpg) no-repeat center center fixed; 
    background-size: cover;
    opacity: 0;
    transition: opacity .3s;
    &--appear {
        opacity: 1;
    }
    &__layer {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: radial-gradient(circle, rgba(48,48,62,0.7) 15%, rgba(11,11,13,0.6) 80%);;
    }
    &__header {
        position: relative;
        height: 100vh;
    }
    &__heading-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        letter-spacing: 0.1em;
    }
    &__text-1 {
        display: flex;
        justify-content: center;
        font-family: SansProExtraLight;
        font-size: 30px;
        letter-spacing: 0.1em;
        font-weight: 500;
        opacity: 0;
        transform: translateX(-20px);
        transition: all .6s ease 1s;
        &--appear {
            opacity: 1;
            transform: translateX(0);
        }
    }
    &__text-2 {
        top:10%;
        display: block;
        text-align: center;
        font-family: SansProSemiBold;
        font-size: 34px;
        letter-spacing: 0.01em;
        opacity: 0;
        transform: translateX(20px);
        transition: all .6s ease 1s;
        &--appear {
            opacity: 1;
            transform: translateX(0);
        }
    }
  }

.hp-section-main {
    position: relative;
    @include flex();
    min-height: 50vh;
    padding: 5vh 0;
    background: rgb(23, 23, 38);
    &__horizontal-rule {
        height: auto;
        margin:0 20%;
        border-color: rgba(49, 51, 78, 0.712);
    }
    &__description {
        display: block;
        width: 100vw;
        padding: 0 0;
        background: rgba(48,48,62,1);
        &__video {
            @include flex();
            text-align: center;
            width: 90vw;
            height: 50%;
            margin: 0 auto;
        }
        &__text {
            @include flex();
            text-align: center;
            width: 90vw;
            height: 50%;
            padding: 0 7%;
            margin: 16% auto;
            font-family: SansProLight;
            font-size: 0.95em;
            font-weight: 300;
            letter-spacing: 0.1em;
        }
    }
}

iframe {
    height: 60%;
    width: 85vw;
    margin: 0 auto;
    margin-top: 16%;
  }