
@media (max-width: 310px) {
    .about-section-2 {
      font-size: 0.6em;
    }
}

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {  
    .about-section-1 {
        font-size: 1.4em;
        letter-spacing: 0.4em;
        &__text {
            text-shadow: 1.4px 1.4px #da4078;
        }
    }

    .about-section-2 {
        font-size: 0.8em;
      }
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

    .about-section-1 {
        font-size: 1.6em;
        letter-spacing: 0.5em;
        &__text {
            text-shadow: 1.6px 1.6px #da4078;
        }
    }
  
    .about-section-2 {
        font-size: 1em;
        &__article-1-wrapper {
            margin-left: 30%;
            margin-right: 6%;  
            padding: 4%;
        }
        &__article-2-wrapper {
            margin-left: 6%;
            padding-top: 0;
            padding-left: 0; 
            background: none;
            mix-blend-mode: lighten; 
        }
        &__article-2-layer-1{
            position: absolute;
            z-index: -1;
            top: 22%;
            left: 30%; 
            width: 64%;
            height: 78%;
            background: $first;
        }
        &__article-2-layer-2 {
            margin-left: 0;
            margin-right: 40%;
            padding: 4%; 
        }
        &__article-3-wrapper {
            padding-left: 0;
            padding-right: 4%;
            margin-left: 6%; 
            background: none;
            mix-blend-mode: lighten;
        }
        &__article-3-layer-1 {
            position: absolute;
            z-index: -1;
            width: 57.3%;
            height: 100%;
            background: $second;
        }
        &__article-3-layer-2 {
            width: 105%;
            margin: 0;
            padding-top: 5%;
            padding-right: 11%;
            background: none;
        }
        &__article-3-layer-3 {
            display:flex;
            align-items: center;
            justify-content: space-around;
            margin: 0 0;
            padding: 12% 0%;  
        }
        &__article-3-about-us {
            display: flex;
            justify-content: space-between;
            width: 48%;
            margin-bottom: 0;
            padding: 4% 4%;
            font-size: 0.9em;
        }
        &__article-3-office {
            width:28%;
            padding: 5.3% 4%;
            margin-top: 0;
            font-size: 0.9em;  
        }
    }
}
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 

  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  

  
  }