@mixin pushEffect($size) {
    transform: translate3d(5%);
    font-size: $size;
    opacity: 1;
    transition: 0.25s;
}

@mixin moveEffect($left, $top, $opct) {
    left: $left;
    top: $top;
    transform: translate(-50%, -50%);
    opacity: $opct;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  


}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .rocket-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 100vw;
        background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    }

    .rocket {
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 46vh;
        margin: 0;
        &__link {
            height: 50%;
            width: 50%;
            opacity: 0.8;
            transition: 0.3s;
            &:hover {
                width: 70%;
                height: 60%;
                .rocket__img {
                    opacity: 0.4;
                    filter: blur(1.8px) grayscale(70%);
                    border-radius: 1% 1% 1% 1%;
                }
            }
        }
        &__img {
            object-fit: cover;
            object-position: center center;
            height: 100%;
            width:  100%;
            opacity: 0.8;
            transition: 0.25s;
            filter: grayscale(30%);
            border-radius: 0;
        }
        &:first-of-type {
            justify-content: flex-end;
            align-items: flex-end;
            .rocket__img {
                transform: scale(1, 1) translateY(0);
            }
            .rocket__link {
                &:active {
                    .rocket__title {
                        @include pushEffect(1.55em);
                    }
                }
                &:hover {
                    .rocket__title{
                        font-size: 1.3em;
                        @include moveEffect(66%, 70%, 0.8);
                    }
                }
                .rocket__title {
                    position: absolute;
                    display: flex;
                    font-size: 0.3em;
                    transition: 0.3s;
                    @include moveEffect(90%, 90%, 0);
                }
            }
        }
        &:nth-of-type(2) {
            justify-content: flex-start;
            align-items: flex-end;
            .rocket__img {
                transform: scale(1, 1) translateY(0);
            }
            .rocket__link {
                &:active {
                    .rocket__title {
                        @include pushEffect(1.55em);
                    }
                }
                &:hover {
                    .rocket__title {
                        font-size: 1.3em;
                        @include moveEffect(36%, 70%, 0.8);
                    }
                }
                .rocket__title {
                    position: absolute;
                    display: flex;
                    font-size: 0.3em;
                    @include moveEffect(10%, 90%, 0);
                    transition: 0.25s;
                }
            }
        }
        &:nth-of-type(3) {
            justify-content: flex-end;
            align-items: flex-start;
            .rocket__img {
                transform: scale(1, 1);
            }
            .rocket__link {
                &:active {
                    .rocket__title {
                        @include pushEffect(1.55em);
                    }
                }
                &:hover {
                    .rocket__title {
                        font-size: 1.3em;
                        letter-spacing: 0.05em;
                        @include moveEffect(64%, 31%, 0.8);
                    }
                }
                .rocket__title {
                    position: absolute;
                    display: flex;
                    font-size: 0.3em;
                    @include moveEffect(90%, 10%, 0);
                    transition: 0.25s;
                }
            }
        }
        &:nth-of-type(4) {
            justify-content: flex-start;
            align-items: flex-start;
            .rocket__img {
                transform: scale(1, 1);
            }
            .rocket__link {
                &:active {
                    .rocket__title {
                        @include pushEffect(1.55em);
                    }
                }
                &:hover {
                    .rocket__title {
                        font-size: 1.3em;
                        @include moveEffect(36%, 31%, 0.8);
                    }
                }
                .rocket__title {
                    position: absolute;
                    display: flex;
                    font-size: 0.3em;
                    @include moveEffect(10%, 10%, 0);
                    transition: 0.25s;
                }
            }
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .rocket {
        &__link{
            height: 60%;
            font-size: 0.9em;
            &:hover {
                height: 70%;
                width: 70%;
            }
        }
        &:first-of-type {
            .rocket__link {
                &:active {
                    .rocket__title {
                        @include pushEffect(1.8em);
                    }
                }
                &:hover {
                    .rocket__title {
                        @include moveEffect(66%, 64%, 0.8);
                    }
                }
            }
        }
        &:nth-of-type(2) {
            .rocket__link {
                &:active {
                    .rocket__title {
                        @include pushEffect(1.8em);
                    }
                }
                &:hover {
                    .rocket__title {
                        @include moveEffect(36%, 64%, 0.8);
                    }
                }
            }
        }
        &:nth-of-type(3) {
            .rocket__link {
                &:active {
                    .rocket__title {
                        @include pushEffect(1.8em);
                    }
                }
                &:hover {
                    .rocket__title {
                        letter-spacing: 0.05em;
                        @include moveEffect(64%, 35%, 0.8);
                    }
                }
            }
        }
        &:nth-of-type(4) {
            .rocket__link {
                &:active {
                    .rocket__title {
                        @include pushEffect(1.8em);
                    }
                }
                &:hover {
                    .rocket__title {
                        @include moveEffect(36%, 35%, 0.8);
                    }
                }
            }
        }
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

    .rocket {
        &:first-of-type, &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
            .rocket__link {
                &:active {
                    .rocket__title {
                        @include pushEffect(2.4em);
                    }
                }
                &:hover {
                    .rocket__title {
                        font-size: 2em;
                    }
                }
            }
        }
    }
}