$fifth: rgb(16, 16, 23);
$sixth: #00aaff;

.careers-section-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(../assets/img/joinus.jpg) no-repeat center center;
    background-position-x: 70%;
    background-size: cover;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 10%;
        height: 90%;
        background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.9));
    }
    &__title-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100vw;
    }
    &__title-1 {
        position: absolute;
        top: 41%;
        font-size: 30px;
        font-family: SansProLight;
        letter-spacing: 0.05em ;
        animation: title-anim-1 2s ease;
    }
    &__title-2 {
        position: absolute;
        top: 48%;
        font-size: 45px;
        font-family: SansProBold;
        letter-spacing: 0.1em ;
        animation: title-anim-2 2s ease;
    }
}

.careers-section-2 {
    height:105vh;
    position: relative;
    overflow: hidden;
    background-color: $fifth;
    &::before, &::after{
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        background: #49467657;
        animation: squares 120s linear infinite;
    }
    &::after {
        background:rgba(46, 86, 118, 0.308);
        animation-direction: reverse;
    }
    &__form {
        position: relative;
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72%;
    }
    &__polygon {
        position: relative;
        z-index: 6;
        display: block;
        width: 100vw;
        height: 15vh;
        overflow: visible;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    height: 90%;
    font-size: 16px;
    input {
        outline: none;
        &:focus, &:valid{
            & + .form__label {
                &::after{
                    transform: translateX(0);
                }
            }
            & + .form__label .form__label__text {
                transform: translateY(-150%);
                color: $sixth;
                font-size: 14px;
            }
        }
    }
    &__error {
        height: 4%;
        color: red;
        font-size: 10px;
    }
    select {
        height: 35px;
        border-radius: 3px;
        padding-left: 8px;
        appearance: none;
        background: none;
        background: url(../assets/img/arrow.png) no-repeat center;
        background-position: 99% 65%;
    }
    &__checkbox-wrapper {
        position: relative;
        display: flex;
        height: 20px;
        padding-left: 1%;
        input {
            position: absolute;
            z-index: 10;
            top: 13%;
            height: 15px;
            width: 15px;
            opacity: 0;
            cursor: pointer;
            &:checked {
                & ~ .form__checkbox-style {
                    transform: rotate(0deg) scale(1);
                    border: 2px solid #fff;
                    border-radius: 5px;
                    background-color: #fff;
                    opacity: 1;
                    &::after {
                        transform: rotate(45deg) scale(1);
                        left: 3px;
                        top: 1px;
                        width: 3px;
                        height: 5px;
                        border: solid $fifth;
                        border-width: 0px 2px 2px 0;
                        background-color: transparent;
                        border-radius: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__checkbox {
        &-style{
            position: absolute;
            top: 3px;
            bottom: 0px;
            height: 15px;
            width: 15px;
            border-color: transparent;
            border-radius: 5px;
            border: 1px solid white;
            transition: all 0.1s ease-out;
            &::after {
                content: "";
                position: absolute;
                transform: rotate(0deg) scale(0);
                left: 10px;
                top: 10px;
                height: 0px;
                width: 0px;
                border-radius: 5px;
                border: solid white;
                border-width: 0 2px 2px 0;
                opacity: 1;
                transition: all 0.1s ease-out;
            }
        }
    }
    &__text {
        margin-left: 25px;
        font-size: 0.9em;
    }
    &__button {
        height: 50px;
        border: none;
        border-radius: 5px;
        background: #00aaffde;
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        &:hover {
            background: $sixth;
        }
    }
}

.rotate {
    transform: rotate(180deg);
}


.form {
    &__input-wrapper{
        position: relative;
        width: 100%;
        height: 50px;
    }
    &__input {
        width: 100%;
        height: 100%;
        padding-top: 20px;
        border: none;
        border-bottom: 1px solid white;
        background: none;
    }
    &__label {
        position: absolute;
        left: 0%;
        bottom: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            bottom: -1px;
            height: 100%;
            width: 100%;
            transform: translateX(-100%);
            border-bottom: 2px solid $sixth;
            transition: all 0.3s ease;
        }
        &__text {
            position: absolute;
            left: 0px;
            bottom: 5px;
            transition: all 0.3s ease;
        }
    }
}

select option {
    background: #27324a;
    color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #27324a inset;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes squares{
    0% {
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes title-anim-1{
    0% {
        top: 48%;
        opacity: 0;
    }
    60% {
        top: 48%;
        opacity: 1;

    }
    100%{
        top: 41%;
    }
}
@keyframes title-anim-2{
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}