.careers-section-1 {
    background: url(../img/joinus.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        content: "";
        position: absolute;
        background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.9));
        bottom: 0;
        left: 0;
        right: 0;
        top: 10%;
        height: 90%;
    }
    &__title-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title-1 {
        position: absolute;
        font-size: 30px;
        font-family: SansProLight;
        letter-spacing: 0.05em ;
        top: 43%;
        animation: title-anim-1 3s ease;
    }
    &__title-2 {
        position: absolute;
        font-size: 55px;
        font-family: SansProBold;
        letter-spacing: 0.1em ;
        top: 48%;
        animation: title-anim-2 3s ease;
    }
}

.careers-section-2 {
    background-color: $fifth;
    height:105vh;
    position: relative;
    overflow: hidden;
    &::before, &::after{
        content: '';
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: #49467657;
        animation: squares 120s linear infinite;
        top: 0;
        z-index: 5;
    }
    &::after {
        animation-direction: reverse;
        background:rgba(46, 86, 118, 0.308);
    }
    &__form {
        display: flex;
        position: relative;
        z-index: 6;
        justify-content: center;
        align-items: center;
        height: 72%;
    }
    &__polygon {
        overflow: visible;
        width: 100vw;
        display: block;
        height: 15vh;
        position: relative;
        z-index: 6;
    }
}

form {
    display: flex;
    flex-direction: column;
}

.rotate {
    transform: rotate(180deg);
}

@keyframes squares{
    0% {
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes title-anim-1{
    0% {
        opacity: 0;
        top: 48%;
        font-size: 45px;
        letter-spacing: 0.1em;
    }
    80% {
        opacity: 1;
        top: 48%;
        font-size: 45px;
        letter-spacing: 0.1em;

    }
    100%{
        top: 43%;
        font-size: 30px;
        letter-spacing: 0.05em;
    }
}
@keyframes title-anim-2{
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}