.history {
    &__container {
        position:relative;
        padding-top: 10vh;
        min-height: 100vh;
        margin: 0 10%;
        background: #101016;
        &:before {
            content: "";
            position: absolute;
            height: 50%;
            width: 1px;
            background: linear-gradient(to top, #fff, #fff, rgba(10,10,10,0));
            left: 50%;
        }
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            height: 50%;
            width: 1px;
            background: linear-gradient(to bottom, #fff, #fff, rgba(10, 10, 10, 0));
            left: 50%;
        }
    }
    &__timeline {
        padding: 7vh 15px;
        margin: 0 auto;
    }
    &__date {
        font-family: SansProLight;
        position: absolute;
        top: 1%;
        background: rgb(8, 35, 70);
        padding: 10px;
        right: 0;
    }
    &__moment {
        position:relative;
        width: 45%;
        padding: 30px;
        margin-bottom: 70px;
        border-radius: 4px;
        box-shadow: 0 20px 25px -15px rgba(255, 255, 255, 0.3);
        &:nth-of-type(even) {
            margin-left: auto;
            text-align: end;
            .history__date {
                left: 0;
                right: auto;
            }
            .history__title {
                padding-left: 16%;
                padding-right: 0;
            }
        }
    }
    &__title {
        font-family: SansProBold;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-size: 17px;
        padding-right: 16%;
        padding-left: 0;
    }
    &__details {
        font-family: SansProLight;
        margin-top: 10px;
    }

    &__link {
        background: #da4078;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 25px;
        display: inline-block;
        border-radius: 2px;
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
        text-decoration: none;
        cursor: pointer;
    }
}