.history__img {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.history__img--appear {
  background: url(../assets/img/crew-dragon.jpg) no-repeat fixed;
  background-size: cover;
  background-position-x: 36%;
  opacity: 1;
}

.history__img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  -webkit-transition: inherit;
  transition: inherit;
}

.history__container {
  position: relative;
  min-height: 100vh;
  padding-top: 10vh;
}

.history__timeline {
  position: relative;
  padding: 7vh 15px;
  margin: 0 10%;
  opacity: 0;
  -webkit-transform: 0.5s all ease-in-out;
          transform: 0.5s all ease-in-out;
}

.history__timeline--appear {
  opacity: 1;
}

.history__timeline:before, .history__timeline::after {
  content: "";
  position: absolute;
  left: 100%;
  height: 50%;
  width: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(#fff), color-stop(#fff), color-stop(#fff), color-stop(#fff), to(rgba(10, 10, 10, 0)));
  background: linear-gradient(to top, #fff, #fff, #fff, #fff, #fff, rgba(10, 10, 10, 0));
}

.history__timeline:after {
  top: 48%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#fff), color-stop(#fff), color-stop(#fff), to(rgba(10, 10, 10, 0)));
  background: linear-gradient(to bottom, #fff, #fff, #fff, #fff, rgba(10, 10, 10, 0));
}

.history__date {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  background: #082346;
  font-family: SansProLight;
}

.history__date::after {
  content: "";
  position: absolute;
  right: -8%;
  top: 30%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 15px;
  width: 15px;
  background: #082346;
}

.history__moment {
  position: relative;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  width: 100%;
  padding: 30px;
  margin-bottom: 70px;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(5px) grayscale(10%) brightness(80%);
          backdrop-filter: blur(5px) grayscale(10%) brightness(80%);
  -webkit-box-shadow: 0 20px 25px -15px rgba(255, 255, 255, 0.3);
          box-shadow: 0 20px 25px -15px rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transition: 0.5s all ease-in-out 0.5s;
  transition: 0.5s all ease-in-out 0.5s;
}

.history__moment--appear {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.history__title {
  margin-top: 10%;
  padding-right: 10%;
  padding-left: 0;
  font-family: SansProBold;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.history__details {
  margin-top: 10px;
  font-family: SansProLight;
}

.history__link {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 25px;
  border-radius: 5px;
  background: #da4078db;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  text-decoration: none;
  cursor: pointer;
}

.history__link:hover {
  background: #da4078;
}
/*# sourceMappingURL=history.css.map */