.about-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 62vh;
    background: url(../assets/img/Moon_rocket.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    &--appear {
        animation: action 1.3s ease;
        opacity: 1;
        height: 52vh;
    }
    &__text {
        font-family: SansProBold;
        text-shadow: 1.4px 1.4px #da4078;
        letter-spacing: 0.1em;
        opacity: 1;
        transition: letter-spacing 1.3s ease 0.95s;
        &--appear {
            opacity: 1;
            letter-spacing: 0.3em;
        }
    }
}

@keyframes action {
    0% {
        height: 62vh;
        opacity: 0;;
    }
    80% {
        height: 62vh;
        opacity: 1;
    }
    100% {
        height: 52vh;
        opacity: 1;
    }
}

.about-section-2 {
    position: relative;
    width: 100%;
    min-height: 150vh;
    padding-top: 6%;
    background: $fifth;
    font-size: 0.7em;
    &__article-1-wrapper {
        display: flex;
        align-items: center;
        text-align: justify;
        margin: 0 4%;
        padding: 6% 6%;
        background: $first;
    }
    &__article-1 {
        position: relative;
        color: #d6daef;
        font-family: SansProLight;
        font-size: 1.4em;
        line-height: 1.35em;
        letter-spacing: 0.09em;
    }
}

.about-section-2 {
    &__article-2-wrapper {
        display:flex;
        align-items: center;
        text-align: justify;
        min-height: 33.3%;
        margin: 0 4%;
        padding: 0 4%;
        padding-top: 4%;
        background: $first;
    }
    &__article-2-layer-2 {
        margin: 0 4%;
        padding: 4% 4%;
        background: $second;
    }
    &__article-2 {
        position: relative;
        color: #d6daef;
        font-family: SansProLight;
        font-size: 1.4em;
        line-height: 1.35em;
        letter-spacing: 0.09em;
    }
}

.about-section-2 {
    &__article-3-wrapper {
        position: relative;
        min-height: 33%; 
        margin: 0 4%;
        padding: 0 4%;
        background: $first;
    }
    &__article-3-layer-2 {
        height: 100%;
        margin: 0 4%;
        padding: 0 8%;
        padding-top: 8%;
        background: $second;
    }
    &__article-3-layer-3 {
        height: 100%;
        margin: 0 4%;
        padding: 8% 8%;
        background: $third;
        opacity: 0.8;
    }
    &__article-3-about-us {
        display: block;
        text-align: center;
        height: 50%;
        padding: 16% 4%;
        margin-bottom: 16%;
        background: $fourth;
    }
    &__about-us {
        margin: 6% 2%;
        &__details-1 {
            display: block;
            padding-bottom: 0.5em;
            font-family: SansProLight;
            font-size: 1.3em;
            letter-spacing: 0.05em;
        }
        &__details-2 {
            display: block;
            font-family: SansProBold;
            font-size: 1.3em;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            text-shadow: 0.4px 0.4px #da4078;
        }
    }
    &__article-3-office {
        display: block;
        height: 50%;
        padding: 16% 4%;
        margin-top: 16%;
        background: $fourth; 
    }
    &__office{
        display: block;
        text-align: center;
        &__details-1{
            display: block;
            font-family: SansProBold;
            font-size: 1.3em;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            text-shadow: 0.5px 0.5px #da4078;
        }
        &__details-2 {
            display: block;
            font-family: SansProLight;
            font-size: 1.1em;
            letter-spacing: 0.12em;
        }
    }
}

.about-section-3 {
    display:flex;
    justify-content: center;
    min-width: 75%;
    background: #101017;
}

#map {
    z-index: 10;
    min-width: 74%;
    height: 50vh;
    margin: 10vh 0;
    border-radius: 5px;
}
  
div.leaflet-popup-content-wrapper {
    display:flex;
    background: #696969;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}
  
div.leaflet-popup-tip {
    background: #696969;
}
  
div.leaflet-control-attribution.leaflet-control {
    background: none;
    color: dimgray;
}
  
.leaflet-interactive {
   opacity: 0.85;
   &:hover{
       opacity: 1;
   }
}

.leaflet-bar {
    a {
        border-bottom: #000 !important;
        background-color: #212120 !important;
        &:hover {
            background-color: #3d3d3b !important;
            color:#1f1d1d !important;
        }
    }
}
.leaflet-container {
    a {
        color:#585858 !important;
    }
}