@font-face {
  font-family: SansProSemiBold;
  src: url('../font/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}

@font-face {
  font-family: SansProRegular;
  src: url('../font/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: SansProBold;
  src: url('../font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: SansProLight;
  src: url('../font/Source_Sans_Pro/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: SansProExtraLight;
  src: url('../font/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf');
}

                      /* /////////////////////
                            ABOUT
                      ///////////////////// */

.section-first-about{
  font-family: SansProBold;
  letter-spacing: 0.3em;
  font-size: 1.2em;

  background: url(../img/Moon_rocket.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-first-about h3{
  text-shadow: 1.4px 1.4px #da4078;
}

                      /* /////////////////////
                            SECTION TWO
                      ///////////////////// */

                      

.section-second-about{
  font-size: 0.7em;

  background: rgba(0, 0, 7, 0.938);
  position: relative;
  width: 100%;
  min-height: 150vh;
  padding-top: 6%;

}

.section-second-about-first-div{
  background: #070b0e;
  display: flex;
  align-items: center;
  text-align: justify;
  margin: 0 4%;
  padding: 4% 4%;
}

.about-first-p{
  font-family: SansProExtraLight;
  font-size: 1.4em;
  line-height: 1.35em;
  letter-spacing: 0.09em;

  color: #8e98cb;
  position: relative;
}

.section-second-about-second-div{
  background: #070b0e;
  display:flex;
  align-items: center;
  text-align: justify;
  min-height: 33.3%;
  margin: 0 4%;
  padding: 0 4%;
  padding-top: 4%;
}

.second-div-layer{
  background: #0E0A12;
  margin: 0 4%;
  padding: 8% 8%;

}

.about-second-p{
  font-family: SansProExtraLight;
  font-size: 1.4em;
  line-height: 1.35em;
  letter-spacing: 0.09em;

  color: #8e98cb;
  position: relative;
}

.section-second-about-third-div{
  background: #070b0e;
  position: relative;
  min-height: 33%; 
  margin: 0 4%;
  padding: 0 4%;
}

.third-div-layer-1{
  background: #0E0A12;
  height: 100%;
  margin: 0 4%;
  padding: 0 8%;
  padding-top: 8%;
}

.third-div-layer-2{
  background: #1b1f2f;
  height: 100%;
  margin: 0 4%;
  padding: 8% 8%;
}

.section-second-about-third-div-1{
  display: block;
  text-align: center;
  height: 50%;
  padding: 16% 4%;
  background: #181c2c;
  margin-bottom: 16%;
}

.section-second-about-third-div-1 div{
  margin: 6% 2%;
}

.span-1{
  font-family: SansProLight;
  font-size: 1.3em;
  letter-spacing: 0.05em;

  display: block;
  padding-bottom: 0.5em;
}

.span-2{
  font-family: SansProBold;
  text-shadow: 0.4px 0.4px #da4078;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  display: block;
}

.span-3{
  font-family: SansProBold;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px #da4078;
}

.span-4{
  font-family: SansProLight;
  font-size: 1.2em;
  letter-spacing: 0.12em;
}

.section-second-about-third-div-2{
  display: block;
  height: 50%;
  padding: 16% 4%;
  margin-top: 16%;
  background: #181c2c; 
}

.section-second-about-third-div-2 span{
  display: block;
}
  
.headquarter-1{
  display: block;
  text-align: center;
}
.headquarter-2{
  display: block;
  text-align: center;
}



                      /* /////////////////////
                            SECTION THREE
                      ///////////////////// */
      
.leaflet{
  background: #101017;
  display:flex;
  justify-content: center;
  min-width: 75%;
}

#map{
  margin: 10vh 0;
  min-width:80%;
  height: 50vh;
}

div.leaflet-popup-content-wrapper{
  text-transform: uppercase;
  letter-spacing: 0.1em;

  display:flex;
  text-align: center;
  background: #696969;
  color: black;
}

div.leaflet-popup-tip{
  background: #696969;
}

div.leaflet-control-attribution.leaflet-control{
  background: none;
  color: dimgray;
}

.leaflet-container{
  position: relative;
  z-index: 20;
  background: none;
  }

.leaflet-container a{
  text-decoration: none;
  color: dimgray; 
}

a.leaflet-control-zoom-out,a.leaflet-control-zoom-in{
  background: #262626;
  border-bottom-color:#262626;
  color: dimgray;
}

img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive{
 opacity: 0.5;
}

img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive:hover{
  opacity: 1;
 }



 @media (max-width: 310px) {

  .section-second-about{
    font-size: 0.6em;
  }

 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  

  .section-first-about{
    letter-spacing: 0.4em;
    font-size: 1.4em;
  }

  .section-first-about h3{
    text-shadow: 1.4px 1.4px #da4078;
  }

  .section-second-about{
    font-size: 0.8em;
  }

}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

  .third-div-layer-2 div {
    font-size: 0.9em;
  }


  .section-first-about{
    letter-spacing: 0.5em;
    font-size: 1.6em;
  }

  .section-first-about h3{
    text-shadow: 1.6px 1.6px #da4078;
  }

  .section-second-about{
    font-size: 0.9em;

  }

  .section-second-about-first-div{
    margin-left: 30%;
    margin-right: 6%;
  }

  .section-second-about-second-div{
    background: none;
    mix-blend-mode: lighten; 
    margin-left: 6%;
    padding-top: 0;
    padding-left: 0;
  }

  .layer-1 {
    width: 64%;
    background: #070b0e;
    height: 78%;
    z-index: -1;
    position: absolute;
    top: 22%;
    left: 30%;
  }

  .second-div-layer{
    margin-left: 0;
    margin-right: 40%;
    padding: 4% 4%;
  }

  .section-second-about-third-div{
    background: none;
    mix-blend-mode: lighten;
    padding-left: 0;
    padding-right: 4%;
    margin-left: 6%;
  }

  .third-div-layer-1{
    background: none;
    width: 102%;
    padding-top: 5%;
    margin: 0;
  }

  .third-div-layer-2{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0;
    padding: 12% 0%;
  }

  .section-second-about-third-div-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 4% 4%;
    width: 40%;
  }

  .section-second-about-third-div-1 div{

  }

  .section-second-about-third-div-2{
    padding: 8% 4%;
    margin-top: 0;
    widows: 40%;
  }

  .layer-2{
    width: 57%;
    background: #0e0a12;
    height: 100%;
    z-index: -1;
    position: absolute;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .section-second-about{
    font-size: 0.95em; 
  }

  .third-div-layer-2 div {
    font-size: 0.95em;
    
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

  .section-second-about{
    font-size: 1em;
  }

}
