@font-face {
    font-family: SansProSemiBold;
    src: url('../font/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
  }
  
  @font-face {
    font-family: SansProRegular;
    src: url('../font/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  }
  
  @font-face {
    font-family: SansProBold;
    src: url('../font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
  }
  
  @font-face {
    font-family: SansProLight;
    src: url('../font/Source_Sans_Pro/SourceSansPro-Light.ttf');
  }
  
  @font-face {
    font-family: SansProExtraLight;
    src: url('../font/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf');
  }
  

                        /* /////////////////////
                              CAREERS
                        ///////////////////// */

  .section-first-careers{
    width: 100%;
    min-height: 93vh;
  }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}