                        
@font-face {
    font-family: SansProLight;
    src: url('../font/Source_Sans_Pro/SourceSansPro-Light.ttf');
  }
  
@font-face {
font-family: SansProExtraLight;
src: url('../font/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf');
}

                        /* /////////////////////
                                FOOTER
                        ///////////////////// */

footer{
background: rgba(48,48,62,1);
min-height: 7vh;
width: 100%;
}

.foot{
background: rgba(0, 0, 2, 0.774);
display: flex;
font-size: 0.7em;
min-height: 7vh;
justify-content: space-between;
align-items: center;
}

.foot-1{
display: flex;
width: 48%;
justify-content: center;
align-items: center;
margin:0 auto;
}

.foot-1 a{
font-family: SansProExtraLight;
display: flex;
}

.foot-2{
  display: block;
  width: 48%;
  margin: 0 auto;
  text-align: center;
  }

.foot-2 p{
font-family: SansProLight;
padding-top: 4%;
}

.icons{
display: flex;
width: 100%;
margin: 0 2%;
justify-content: space-between;
align-items: center;
padding: 4%;
}

.icon{
display: flex;
height: 25px;
width:25px;

}
                        
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  
  .foot {
    font-size: 1em;
  }
    
  .foot-1{
    margin:0 auto;
  }

  .foot-2 p{
    padding-top: 4%;
  }
  
  .foot-2{
  display: block;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  }
  
  .icons{
  display: flex;
  width: 60%;
  margin: 0 20%;
  }
    
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  


  .foot-2{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    }

    .foot-2 p{
      width: 40%;
      text-align: center;
      padding: 0;
      }

  .icons{
    width: 40%;
    margin: 0 0;
    
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .foot-1{
    display: flex;
    width: 40%;
    justify-content: start;
    align-items: center;
    }

  .foot-2{
    width: 50%;
    margin: 0 0;
    }

  .icons{
    width: 40%;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .foot-2{
    width: 40%;
    }

    .foot-2 p{
      width: 38%;
      }

}