@font-face {
  font-family: SansProSemiBold;
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: SansProRegular;
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: SansProBold;
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: SansProLight;
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: SansProExtraLight;
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf");
}

@-webkit-keyframes transitionIn {
  from {
    min-height: 0vh;
  }
  to {
    min-height: 8vh;
  }
}

@keyframes transitionIn {
  from {
    min-height: 0vh;
  }
  to {
    min-height: 8vh;
  }
}

@-webkit-keyframes op-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes op-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes NavLinkFadeIn {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    width: 0;
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 100%;
    opacity: 1;
  }
}

@keyframes NavLinkFadeIn {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    width: 0;
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes NavLinkFadeOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    width: 0;
    opacity: 0;
  }
}

@keyframes NavLinkFadeOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    width: 0;
    opacity: 0;
  }
}

::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: #010108;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: grey;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: SansProRegular;
  color: white;
}

#root {
  background-color: rgba(0, 0, 7, 0.938);
}

#root, body {
  overflow-x: hidden;
}

#root a:focus, body a:focus {
  outline: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8vh;
  background: rgba(11, 11, 17, 0.95);
  color: white;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.navbar--appear {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navbar__logo {
  height: 25px;
  width: 150px;
  padding-right: 10px;
  -webkit-transition: -webkit-filter 0.7s ease-in-out;
  transition: -webkit-filter 0.7s ease-in-out;
  transition: filter 0.7s ease-in-out;
  transition: filter 0.7s ease-in-out, -webkit-filter 0.7s ease-in-out;
}

.navbar__logo:hover {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 0.6));
          filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 0.6));
}

.navbar__menu {
  position: absolute;
  z-index: 10000;
  right: 0;
  top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 92vh;
  width: 50vw;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  background: rgba(11, 11, 17, 0.95);
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.navbar__menu--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar__menu--inactive {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.navbar__menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  width: 100%;
  text-decoration: none;
}

.navbar__menu a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  list-style: none;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  opacity: 1;
}

.navbar__menu a li:hover {
  background: rgba(142, 147, 172, 0.3);
  font-size: 1.2em;
}

.navbar__link--fadein-1 {
  -webkit-animation: NavLinkFadeIn 1.2s ease backwards 0s;
          animation: NavLinkFadeIn 1.2s ease backwards 0s;
}

.navbar__link--fadein-2 {
  -webkit-animation: NavLinkFadeIn 1.2s ease backwards 0.1s;
          animation: NavLinkFadeIn 1.2s ease backwards 0.1s;
}

.navbar__link--fadein-3 {
  -webkit-animation: NavLinkFadeIn 1.2s ease backwards 0.2s;
          animation: NavLinkFadeIn 1.2s ease backwards 0.2s;
}

.navbar__link--fadein-4 {
  -webkit-animation: NavLinkFadeIn 1.2s ease backwards 0.3s;
          animation: NavLinkFadeIn 1.2s ease backwards 0.3s;
}

.navbar__link--fadeout-1 {
  -webkit-animation: NavLinkFadeOut 1.2s ease forwards 0s;
          animation: NavLinkFadeOut 1.2s ease forwards 0s;
}

.navbar__link--fadeout-2 {
  -webkit-animation: NavLinkFadeOut 1.2s ease forwards 0.1s;
          animation: NavLinkFadeOut 1.2s ease forwards 0.1s;
}

.navbar__link--fadeout-3 {
  -webkit-animation: NavLinkFadeOut 1.2s ease forwards 0.2s;
          animation: NavLinkFadeOut 1.2s ease forwards 0.2s;
}

.navbar__link--fadeout-4 {
  -webkit-animation: NavLinkFadeOut 1.2s ease forwards 0.3s;
          animation: NavLinkFadeOut 1.2s ease forwards 0.3s;
}

.navbar__burger {
  padding-left: 10px;
  cursor: pointer;
}

.navbar__burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  border-radius: 20%;
  background: white;
}

.navbar__burger--hor-1 {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar__burger--hor-2 {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.navbar__burger--hor-3 {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar__burger--vert-1 {
  -webkit-transform: rotate(-90deg) translate(-6px, 8px);
          transform: rotate(-90deg) translate(-6px, 8px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar__burger--vert-2 {
  -webkit-transform: rotate(-90deg) translate(-2px, 0px);
          transform: rotate(-90deg) translate(-2px, 0px);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.navbar__burger--vert-3 {
  -webkit-transform: rotate(-90deg) translate(10px, -8px);
          transform: rotate(-90deg) translate(10px, -8px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar__logo {
    height: 35px;
    width: 250px;
    padding-right: 45px;
  }
  .navbar__menu a li {
    position: relative;
    background: none;
    font-size: 1.1rem;
  }
  .navbar__burger {
    padding-left: 45px;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .navbar {
    background: rgba(11, 11, 17, 0.7);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .navbar__link--fadein-1, .navbar__link--fadeout-1, .navbar__link--fadein-2, .navbar__link--fadeout-2, .navbar__link--fadein-3, .navbar__link--fadeout-3, .navbar__link--fadein-4, .navbar__link--fadeout-4 {
    -webkit-animation: none;
            animation: none;
  }
  .navbar__menu {
    background: rgba(11, 11, 17, 0.7);
    position: relative;
    top: 0;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translate(0);
            transform: translate(0);
    width: 42%;
    height: auto;
    margin-top: 0;
    background: none;
  }
  .navbar__menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
  }
  .navbar__menu--active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .navbar__menu--inactive {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .navbar a {
    display: block;
    height: auto;
    width: auto;
  }
  .navbar a li {
    position: relative;
    background: none;
    font-size: 1.1rem;
  }
  .navbar a li:hover {
    background: none;
    font-size: 1.1rem;
  }
  .navbar a li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .navbar a li:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    background-color: #3d6387;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .navbar__burger {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar__menu {
    width: 44%;
  }
  .navbar__menu li {
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar__menu {
    width: 35%;
  }
}

.hp-section-title {
  height: auto;
  min-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.hp-section-title--appear {
  background: url(../assets/img/background1.jpg) no-repeat 50% fixed;
  background-size: cover;
  opacity: 1;
}

.hp-section-title__layer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, rgba(48, 48, 62, 0.7) 15%, rgba(11, 11, 13, 0.6) 80%);
}

.hp-section-title__header {
  position: relative;
  height: 100vh;
}

.hp-section-title__heading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  letter-spacing: 0.1em;
}

.hp-section-title__text-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: SansProExtraLight;
  font-size: 30px;
  letter-spacing: 0.1em;
  font-weight: 500;
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: all .6s ease 1s;
  transition: all .6s ease 1s;
}

.hp-section-title__text-1--appear {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hp-section-title__text-2 {
  top: 10%;
  display: block;
  text-align: center;
  font-family: SansProSemiBold;
  font-size: 34px;
  letter-spacing: 0.01em;
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: all .6s ease 1s;
  transition: all .6s ease 1s;
}

.hp-section-title__text-2--appear {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hp-section-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
  padding: 5vh 0;
  background: #171726;
}

.hp-section-main__horizontal-rule {
  height: auto;
  margin: 0 20%;
  border-color: rgba(49, 51, 78, 0.712);
}

.hp-section-main__description {
  display: block;
  width: 100vw;
  padding: 0 0;
  background: #30303e;
}

.hp-section-main__description__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 80%;
  height: 50%;
  margin: 0 auto;
}

.hp-section-main__description__video div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hp-section-main__description__video div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.hp-section-main__description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 90vw;
  height: 50%;
  padding: 0 7%;
  margin: 16% auto;
  font-family: SansProLight;
  font-size: 0.95em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

iframe {
  height: 60%;
  width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .hp-section-title__text-1 {
    font-size: 33px;
  }
  .hp-section-title__text-2 {
    font-size: 45px;
  }
  .hp-section-main__description__video {
    width: 70%;
    height: 50%;
  }
  iframe {
    height: 70%;
  }
  .hp-section-main__horizontal-rule {
    margin: 0 20%;
  }
  .hp-section-main__description__text {
    height: 70%;
    padding: 0 10%;
    margin: 10% auto;
    font-size: 1.1em;
    letter-spacing: 0.2em;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .hp-section-title__heading-wrapper {
    width: 60vw;
    text-align: center;
  }
  .hp-section-title__text-1 {
    font-size: 38px;
  }
  .hp-section-title__text-2 {
    font-size: 50px;
  }
  .hp-section-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-height: 100vh;
    max-width: 100vw;
    background: rgba(0, 0, 7, 0.938);
  }
  .hp-section-main__description {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45%;
    max-width: 100vw;
    padding: 5vh 0;
    background: #30303e;
  }
  .hp-section-main__description__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 43%;
  }
  .hp-section-main__description__video div div {
    width: 100%;
  }
  .hp-section-main__description__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 43%;
    height: auto;
    padding: 0;
    margin: 0 3%;
    font-family: SansProLight;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.2em;
  }
  .hp-section-main__horizontal-rule {
    margin: 0%;
    border-color: rgba(49, 51, 78, 0.712);
  }
  iframe {
    width: 95%;
    height: 65%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hp-section-title__text-1 {
    font-size: 45px;
  }
  .hp-section-title__text-2 {
    font-size: 57px;
  }
  .hp-section-main__description {
    height: auto;
  }
  .hp-section-main__description__text {
    font-size: 1em;
  }
  iframe {
    height: 80%;
    width: 90%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hp-section-main__description__text {
    font-size: 1.1em;
  }
  iframe {
    height: 90%;
    width: 100%;
  }
}

.about-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 62vh;
  opacity: 0;
}

.about-section-1--appear {
  background-image: url(../assets/img/Moon_rocket.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  height: 52vh;
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
}

.about-section-1__text {
  font-family: SansProBold;
  text-shadow: 1.4px 1.4px #da4078;
  letter-spacing: 0.1em;
  opacity: 0;
}

.about-section-1__text--appear {
  opacity: 1;
  letter-spacing: 0.3em;
  -webkit-transition: letter-spacing 1.3s ease;
  transition: letter-spacing 1.3s ease;
}

.about-section-2 {
  position: relative;
  width: 100%;
  min-height: 150vh;
  padding-top: 6%;
  background: #101017;
  font-size: 0.7em;
}

.about-section-2__article-1-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin: 0 4%;
  padding: 6% 6%;
  background: #082346;
}

.about-section-2__article-1 {
  position: relative;
  color: #d6daef;
  font-family: SansProLight;
  font-size: 1.4em;
  line-height: 1.35em;
  letter-spacing: 0.09em;
}

.about-section-2__article-2-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  min-height: 33.3%;
  margin: 0 4%;
  padding: 0 4%;
  padding-top: 4%;
  background: #082346;
}

.about-section-2__article-2-layer-2 {
  margin: 0 4%;
  padding: 4% 4%;
  background: #113457;
}

.about-section-2__article-2 {
  position: relative;
  color: #d6daef;
  font-family: SansProLight;
  font-size: 1.4em;
  line-height: 1.35em;
  letter-spacing: 0.09em;
}

.about-section-2__article-3-wrapper {
  position: relative;
  min-height: 33%;
  margin: 0 4%;
  padding: 0 4%;
  background: #082346;
}

.about-section-2__article-3-layer-2 {
  height: 100%;
  margin: 0 4%;
  padding: 0 8%;
  padding-top: 8%;
  background: #113457;
}

.about-section-2__article-3-layer-3 {
  height: 100%;
  margin: 0 4%;
  padding: 8% 8%;
  background: #345678;
  opacity: 0.8;
}

.about-section-2__article-3-about-us {
  display: block;
  text-align: center;
  height: 50%;
  padding: 16% 4%;
  margin-bottom: 16%;
  background: #234567;
}

.about-section-2__about-us {
  margin: 6% 2%;
}

.about-section-2__about-us__details-1 {
  display: block;
  padding-bottom: 0.5em;
  font-family: SansProLight;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

.about-section-2__about-us__details-2 {
  display: block;
  font-family: SansProBold;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: 0.4px 0.4px #da4078;
}

.about-section-2__article-3-office {
  display: block;
  height: 50%;
  padding: 16% 4%;
  margin-top: 16%;
  background: #234567;
}

.about-section-2__office {
  display: block;
  text-align: center;
}

.about-section-2__office__details-1 {
  display: block;
  font-family: SansProBold;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px #da4078;
}

.about-section-2__office__details-2 {
  display: block;
  font-family: SansProLight;
  font-size: 1.1em;
  letter-spacing: 0.12em;
}

.about-section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 75%;
  background: #101017;
}

#map {
  z-index: 10;
  min-width: 74%;
  height: 50vh;
  margin: 10vh 0;
  border-radius: 5px;
}

div.leaflet-popup-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #696969;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

div.leaflet-popup-tip {
  background: #696969;
}

div.leaflet-control-attribution.leaflet-control {
  background: none;
  color: dimgray;
}

.leaflet-interactive {
  opacity: 0.85;
}

.leaflet-interactive:hover {
  opacity: 1;
}

.leaflet-bar a {
  border-bottom: #000 !important;
  background-color: #212120 !important;
}

.leaflet-bar a:hover {
  background-color: #3d3d3b !important;
  color: #1f1d1d !important;
}

.leaflet-container a {
  color: #585858 !important;
}

@media (max-width: 310px) {
  .about-section-2 {
    font-size: 0.6em;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .about-section-1__text {
    font-size: 1.4em;
    text-shadow: 1.4px 1.4px #da4078;
    letter-spacing: 0.2em;
    opacity: 0;
  }
  .about-section-1__text--appear {
    letter-spacing: 0.4em;
    opacity: 1;
  }
  .about-section-2 {
    font-size: 0.8em;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .about-section-1__text {
    font-size: 1.8em;
    text-shadow: 1.6px 1.6px #da4078;
    letter-spacing: 0.3em;
    opacity: 0;
  }
  .about-section-1__text--appear {
    letter-spacing: 0.5em;
    opacity: 1;
  }
  .about-section-2 {
    font-size: 1em;
  }
  .about-section-2__article-1-wrapper {
    margin-left: 30%;
    margin-right: 6%;
    padding: 4%;
  }
  .about-section-2__article-2-wrapper {
    margin-left: 6%;
    padding-top: 0;
    padding-left: 0;
    background: none;
    mix-blend-mode: lighten;
  }
  .about-section-2__article-2-layer-1 {
    position: absolute;
    z-index: -1;
    top: 22%;
    left: 30%;
    width: 64%;
    height: 78%;
    background: #082346;
  }
  .about-section-2__article-2-layer-2 {
    margin-left: 0;
    margin-right: 40%;
    padding: 4%;
  }
  .about-section-2__article-3-wrapper {
    padding-left: 0;
    padding-right: 4%;
    margin-left: 6%;
    background: none;
    mix-blend-mode: lighten;
  }
  .about-section-2__article-3-layer-1 {
    position: absolute;
    z-index: -1;
    width: 57.3%;
    height: 100%;
    background: #113457;
  }
  .about-section-2__article-3-layer-2 {
    width: 105%;
    margin: 0;
    padding-top: 5%;
    padding-right: 11%;
    background: none;
  }
  .about-section-2__article-3-layer-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 0;
    padding: 12% 0%;
  }
  .about-section-2__article-3-about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 48%;
    margin-bottom: 0;
    padding: 4% 4%;
    font-size: 0.9em;
  }
  .about-section-2__article-3-office {
    width: 28%;
    padding: 5.3% 4%;
    margin-top: 0;
    font-size: 0.9em;
  }
}

/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .about-section-1--text {
    font-size: 2em;
    letter-spacing: 0.4em;
    opacity: 0;
  }
  .about-section-1--text--appear {
    opacity: 1;
    letter-spacing: 0.7em;
  }
}

.rocket-wrapper {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  padding-top: 8vh;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  text-align: center;
}

.rocket {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  margin: 0 auto;
  overflow: hidden;
}

.rocket__title {
  position: absolute;
  font-family: SansProBold;
  font-size: 1.25em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.8;
}

.rocket__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2%;
  -webkit-filter: blur(0.75px) grayscale(50%);
          filter: blur(0.75px) grayscale(50%);
  opacity: 0.8;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.rocket__link {
  height: 65%;
  width: 80%;
  text-decoration: none;
  opacity: 0;
}

.rocket__link--active {
  opacity: 0.8;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.rocket__link:active .rocket__img {
  height: 96%;
  width: 96%;
  -webkit-box-shadow: 0 0 15px #292727;
          box-shadow: 0 0 15px #292727;
  -webkit-filter: blur(0px) grayscale(10%);
          filter: blur(0px) grayscale(10%);
}

.rocket__link:active .rocket__title {
  -webkit-transform: translate3d(5%);
          transform: translate3d(5%);
  font-size: 1.45em;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  opacity: 1;
}

/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .rocket-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 100vw;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  }
  .rocket {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    height: 46vh;
    margin: 0;
  }
  .rocket__link {
    height: 50%;
    width: 50%;
  }
  .rocket__link:hover {
    width: 70%;
    height: 60%;
  }
  .rocket__link:hover .rocket__img {
    opacity: 0.4;
    -webkit-filter: blur(1.8px) grayscale(70%);
            filter: blur(1.8px) grayscale(70%);
    border-radius: 1% 1% 1% 1%;
  }
  .rocket__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    -webkit-filter: grayscale(30%);
            filter: grayscale(30%);
    border-radius: 0;
  }
  .rocket:first-of-type {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .rocket:first-of-type .rocket__img {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  .rocket:first-of-type .rocket__link:active .rocket__title {
    -webkit-transform: translate3d(5%);
            transform: translate3d(5%);
    font-size: 1.55em;
    opacity: 1;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .rocket:first-of-type .rocket__link:hover .rocket__title {
    font-size: 1.3em;
    left: 66%;
    top: 70%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  .rocket:first-of-type .rocket__link .rocket__title {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.3em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    left: 90%;
    top: 90%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
  }
  .rocket:nth-of-type(2) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .rocket:nth-of-type(2) .rocket__img {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  .rocket:nth-of-type(2) .rocket__link:active .rocket__title {
    -webkit-transform: translate3d(5%);
            transform: translate3d(5%);
    font-size: 1.55em;
    opacity: 1;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .rocket:nth-of-type(2) .rocket__link:hover .rocket__title {
    font-size: 1.3em;
    left: 36%;
    top: 70%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  .rocket:nth-of-type(2) .rocket__link .rocket__title {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.3em;
    left: 10%;
    top: 90%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .rocket:nth-of-type(3) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .rocket:nth-of-type(3) .rocket__img {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .rocket:nth-of-type(3) .rocket__link:active .rocket__title {
    -webkit-transform: translate3d(5%);
            transform: translate3d(5%);
    font-size: 1.55em;
    opacity: 1;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .rocket:nth-of-type(3) .rocket__link:hover .rocket__title {
    font-size: 1.3em;
    letter-spacing: 0.05em;
    left: 64%;
    top: 31%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  .rocket:nth-of-type(3) .rocket__link .rocket__title {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.3em;
    left: 90%;
    top: 10%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .rocket:nth-of-type(4) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .rocket:nth-of-type(4) .rocket__img {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .rocket:nth-of-type(4) .rocket__link:active .rocket__title {
    -webkit-transform: translate3d(5%);
            transform: translate3d(5%);
    font-size: 1.55em;
    opacity: 1;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .rocket:nth-of-type(4) .rocket__link:hover .rocket__title {
    font-size: 1.3em;
    left: 36%;
    top: 31%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  .rocket:nth-of-type(4) .rocket__link .rocket__title {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.3em;
    left: 10%;
    top: 10%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .rocket__link {
    height: 60%;
    font-size: 0.9em;
  }
  .rocket__link:hover {
    height: 70%;
    width: 70%;
  }
  .rocket:first-of-type .rocket__link:active .rocket__title {
    -webkit-transform: translate3d(5%);
            transform: translate3d(5%);
    font-size: 1.8em;
    opacity: 1;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .rocket:first-of-type .rocket__link:hover .rocket__title {
    left: 66%;
    top: 64%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  .rocket:nth-of-type(2) .rocket__link:active .rocket__title {
    -webkit-transform: translate3d(5%);
            transform: translate3d(5%);
    font-size: 1.8em;
    opacity: 1;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .rocket:nth-of-type(2) .rocket__link:hover .rocket__title {
    left: 36%;
    top: 64%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  .rocket:nth-of-type(3) .rocket__link:active .rocket__title {
    -webkit-transform: translate3d(5%);
            transform: translate3d(5%);
    font-size: 1.8em;
    opacity: 1;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .rocket:nth-of-type(3) .rocket__link:hover .rocket__title {
    letter-spacing: 0.05em;
    left: 64%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  .rocket:nth-of-type(4) .rocket__link:active .rocket__title {
    -webkit-transform: translate3d(5%);
            transform: translate3d(5%);
    font-size: 1.8em;
    opacity: 1;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .rocket:nth-of-type(4) .rocket__link:hover .rocket__title {
    left: 36%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.8;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .rocket:first-of-type .rocket__link:active .rocket__title, .rocket:nth-of-type(2) .rocket__link:active .rocket__title, .rocket:nth-of-type(3) .rocket__link:active .rocket__title, .rocket:nth-of-type(4) .rocket__link:active .rocket__title {
    -webkit-transform: translate3d(5%);
            transform: translate3d(5%);
    font-size: 2.4em;
    opacity: 1;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .rocket:first-of-type .rocket__link:hover .rocket__title, .rocket:nth-of-type(2) .rocket__link:hover .rocket__title, .rocket:nth-of-type(3) .rocket__link:hover .rocket__title, .rocket:nth-of-type(4) .rocket__link:hover .rocket__title {
    font-size: 2em;
  }
}

.rocket-details {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: #212940;
  font-size: 16px;
}

.rocket-details__layers {
  position: absolute;
}

.rocket-details__layer-1 {
  position: relative;
  width: 100vw;
  min-height: 63vh;
  background: #212940;
  opacity: 0;
}

.rocket-details__layer-1--appear {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#3d6387), color-stop(#354e6f), color-stop(#2b3b57), color-stop(#212940), to(#15182a));
  background-image: linear-gradient(to top, #3d6387, #354e6f, #2b3b57, #212940, #15182a);
}

.rocket-details__layer-2 {
  position: relative;
  width: 110%;
  opacity: 0;
}

.rocket-details__layer-2--appear {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 1;
}

.rocket-details__section-1__title {
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  text-align: center;
  width: 100%;
  padding: 3%;
  margin-top: 8vh;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  opacity: 0;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.rocket-details__section-1__title__text {
  font-family: SansProExtraLight;
  font-size: 3.5em;
  font-weight: 500;
}

.rocket-details__section-1__details-card-1 {
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  display: block;
  width: 80%;
  border-radius: 0.5%;
  padding: 1.5% 1.5%;
  margin: 2% 10%;
  margin-top: 0;
  font-size: 1em;
  font-family: SansProLight;
  -webkit-box-shadow: -1px 1px 5px 8px rgba(0, 0, 0, 0.5);
          box-shadow: -1px 1px 5px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.5s all 0.5s ease-in-out;
  transition: 0.5s all 0.5s ease-in-out;
}

.rocket-details__section-1__img-wrapper {
  position: relative;
  min-height: 50%;
  min-width: 50%;
  margin: 1% 1%;
}

.rocket-details__section-1__img-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 10%;
  height: 90%;
  border-radius: 1%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9));
}

.rocket-details__section-1__img {
  width: 100%;
  border-radius: 1%;
}

.rocket-details__section-1__details-card-2 {
  display: block;
  text-align: center;
  height: 100%;
  margin: auto 0;
}

.rocket-details__section-1__details-card-2__description {
  margin: 4% 10%;
  font-family: SansProExtraLight;
  font-size: 1.2em;
}

.rocket-details__section-2 {
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  text-align: center;
  width: 80%;
  margin: 15% 10%;
  padding: 2% 4%;
  border-radius: 0.5%;
  -webkit-box-shadow: -1px 1px 5px 7px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 5px 7px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: 0.5s all 0.7s ease-in-out;
  transition: 0.5s all 0.7s ease-in-out;
}

.rocket-details__section-2__header {
  margin: 5%;
  text-transform: uppercase;
  font-family: SansProRegular;
  font-size: 1.3em;
  letter-spacing: 0.15em;
}

.rocket-details__section-2__horizontal-rule {
  height: auto;
  width: 80%;
  margin: 0 auto;
  border-width: thin;
  border-color: #212940;
}

.rocket-details__section-2__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7% auto;
}

.rocket-details__section-2__caption {
  font-family: SansProLight;
  text-transform: uppercase;
  font-size: 0.8em;
}

.rocket-details__section-2__specification {
  font-family: SansProBold;
  text-transform: uppercase;
  font-size: 0.9em;
}

.rocket-details--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.units {
  font-family: SansProBold;
  text-transform: lowercase;
}

.svg-1 {
  top: -1px;
  left: -11px;
  width: 120%;
}

.specification--active {
  color: green;
}

.specification--inactive {
  color: red;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .rocket-details-container {
    font-size: 0.9em;
  }
  .rocket-details__section-2 {
    width: 70%;
    margin: 15%;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .rocket-details__section-1__details-card-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    margin: 0 7.5%;
  }
  .rocket-details__section-2 {
    width: 50%;
    margin: 5% 25%;
  }
  .rocket-details__section-2__header {
    margin-top: 1%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .rocket-details {
    font-size: 1em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .rocket-details {
    font-size: 1.2em;
  }
}

.careers-section-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.careers-section-1--appear {
  opacity: 1;
  background: url(../assets/img/joinus.jpg) no-repeat center center;
  background-position-x: 70%;
  background-size: cover;
}

.careers-section-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 10%;
  height: 90%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9));
}

.careers-section-1__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  width: 100vw;
}

.careers-section-1__title-1 {
  position: absolute;
  top: 41%;
  font-size: 30px;
  font-family: SansProLight;
  letter-spacing: 0.05em;
  opacity: 0;
}

.careers-section-1__title-1--appear {
  -webkit-animation: title-anim-1 2s ease;
          animation: title-anim-1 2s ease;
  opacity: 1;
}

.careers-section-1__title-2 {
  position: absolute;
  top: 48%;
  font-size: 45px;
  font-family: SansProBold;
  letter-spacing: 0.1em;
  opacity: 0;
}

.careers-section-1__title-2--appear {
  -webkit-animation: title-anim-2 2s ease;
          animation: title-anim-2 2s ease;
  opacity: 1;
}

.careers-section-2 {
  height: 105vh;
  position: relative;
  overflow: hidden;
  background-color: #101017;
}

.careers-section-2::before, .careers-section-2::after {
  content: '';
  position: absolute;
  z-index: 5;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background: #49467657;
  -webkit-animation: squares 120s linear infinite;
          animation: squares 120s linear infinite;
}

.careers-section-2::after {
  background: rgba(46, 86, 118, 0.308);
  animation-direction: reverse;
}

.careers-section-2__form {
  position: relative;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72%;
}

.careers-section-2__polygon {
  position: relative;
  z-index: 6;
  display: block;
  width: 100vw;
  height: 15vh;
  overflow: visible;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  height: 90%;
  font-size: 16px;
}

.form input {
  outline: none;
}

.form input:focus + .form__label::after, .form input:valid + .form__label::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.form input:focus + .form__label .form__label__text, .form input:valid + .form__label .form__label__text {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  color: #00aaff;
  font-size: 14px;
}

.form__error {
  height: 4%;
  color: red;
  font-size: 10px;
}

.form select {
  height: 35px;
  border-radius: 3px;
  padding-left: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  background: url(../assets/img/arrow.png) no-repeat center;
  background-position: 99% 65%;
}

.form__checkbox-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  padding-left: 1%;
}

.form__checkbox-wrapper input {
  position: absolute;
  z-index: 10;
  top: 13%;
  height: 15px;
  width: 15px;
  opacity: 0;
  cursor: pointer;
}

.form__checkbox-wrapper input:checked ~ .form__checkbox-style {
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  opacity: 1;
}

.form__checkbox-wrapper input:checked ~ .form__checkbox-style::after {
  -webkit-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
  left: 3px;
  top: 1px;
  width: 3px;
  height: 5px;
  border: solid #101017;
  border-width: 0px 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
  opacity: 1;
}

.form__checkbox-style {
  position: absolute;
  top: 3px;
  bottom: 0px;
  height: 15px;
  width: 15px;
  border-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.form__checkbox-style::after {
  content: "";
  position: absolute;
  -webkit-transform: rotate(0deg) scale(0);
          transform: rotate(0deg) scale(0);
  left: 10px;
  top: 10px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  opacity: 1;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.form__text {
  margin-left: 25px;
  font-size: 0.9em;
}

.form__button {
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #00aaffde;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}

.form__button:hover {
  background: #00aaff;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form__input-wrapper {
  position: relative;
  width: 100%;
  height: 50px;
}

.form__input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  border-bottom: 1px solid white;
  background: none;
}

.form__label {
  position: absolute;
  left: 0%;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.form__label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-bottom: 2px solid #00aaff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__label__text {
  position: absolute;
  left: 0px;
  bottom: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

select option {
  background: #27324a;
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #27324a inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

@-webkit-keyframes squares {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes squares {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes title-anim-1 {
  0% {
    top: 48%;
    opacity: 0;
  }
  60% {
    top: 48%;
    opacity: 1;
  }
  100% {
    top: 41%;
  }
}

@keyframes title-anim-1 {
  0% {
    top: 48%;
    opacity: 0;
  }
  60% {
    top: 48%;
    opacity: 1;
  }
  100% {
    top: 41%;
  }
}

@-webkit-keyframes title-anim-2 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title-anim-2 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .careers-section-1__title-1 {
    font-size: 45px;
  }
  .careers-section-1__title-1--appear {
    -webkit-animation: title-anim-1-mq 2s ease;
            animation: title-anim-1-mq 2s ease;
  }
  .careers-section-1__title-2 {
    font-size: 55px;
  }
  .careers-section-1__title-2--appear {
    -webkit-animation: title-anim-2-mq 2s ease;
            animation: title-anim-2-mq 2s ease;
  }
  .form {
    width: 70%;
    font-size: 18px;
  }
  .form__error {
    height: 6%;
    font-size: 16px;
  }
  .form__text {
    margin-left: 40px;
    font-size: 1em;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .form {
    width: 60%;
    height: 85%;
  }
}

/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .form {
    width: 50%;
    height: 75%;
  }
}

@-webkit-keyframes title-anim-1-mq {
  0% {
    top: 48%;
    opacity: 0;
  }
  60% {
    top: 48%;
    opacity: 1;
  }
  100% {
    top: 41%;
    opacity: 1;
  }
}

@keyframes title-anim-1-mq {
  0% {
    top: 48%;
    opacity: 0;
  }
  60% {
    top: 48%;
    opacity: 1;
  }
  100% {
    top: 41%;
    opacity: 1;
  }
}

@-webkit-keyframes title-anim-2-mq {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title-anim-2-mq {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.history__img {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.history__img--appear {
  background: url(../assets/img/crew-dragon.jpg) no-repeat fixed;
  background-size: cover;
  background-position-x: 36%;
  opacity: 1;
}

.history__img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  -webkit-transition: inherit;
  transition: inherit;
}

.history__container {
  position: relative;
  min-height: 100vh;
  padding-top: 10vh;
}

.history__timeline {
  position: relative;
  padding: 7vh 15px;
  margin: 0 10%;
  opacity: 0;
  -webkit-transform: 0.5s all ease-in-out;
          transform: 0.5s all ease-in-out;
}

.history__timeline--appear {
  opacity: 1;
}

.history__timeline:before, .history__timeline::after {
  content: "";
  position: absolute;
  left: 100%;
  height: 50%;
  width: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(#fff), color-stop(#fff), color-stop(#fff), color-stop(#fff), to(rgba(10, 10, 10, 0)));
  background: linear-gradient(to top, #fff, #fff, #fff, #fff, #fff, rgba(10, 10, 10, 0));
}

.history__timeline:after {
  top: 48%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#fff), color-stop(#fff), color-stop(#fff), to(rgba(10, 10, 10, 0)));
  background: linear-gradient(to bottom, #fff, #fff, #fff, #fff, rgba(10, 10, 10, 0));
}

.history__date {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  background: #082346;
  font-family: SansProLight;
}

.history__date::after {
  content: "";
  position: absolute;
  right: -8%;
  top: 30%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 15px;
  width: 15px;
  background: #082346;
}

.history__moment {
  position: relative;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  width: 100%;
  padding: 30px;
  margin-bottom: 70px;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(5px) grayscale(10%) brightness(80%);
          backdrop-filter: blur(5px) grayscale(10%) brightness(80%);
  -webkit-box-shadow: 0 20px 25px -15px rgba(255, 255, 255, 0.3);
          box-shadow: 0 20px 25px -15px rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transition: 0.5s all ease-in-out 0.5s;
  transition: 0.5s all ease-in-out 0.5s;
}

.history__moment--appear {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.history__title {
  margin-top: 10%;
  padding-right: 10%;
  padding-left: 0;
  font-family: SansProBold;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.history__details {
  margin-top: 10px;
  font-family: SansProLight;
}

.history__link {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 25px;
  border-radius: 5px;
  background: #da4078db;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  text-decoration: none;
  cursor: pointer;
}

.history__link:hover {
  background: #da4078;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .history__title {
    padding-right: 35%;
    margin-top: 15px;
  }
  .history__moment {
    width: 90%;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .history__title {
    padding-right: 5%;
  }
  .history__moment {
    width: 45%;
  }
  .history__moment:nth-of-type(even) {
    margin-left: auto;
    text-align: end;
  }
  .history__moment:nth-of-type(even) .history__date {
    left: 0;
    right: auto;
  }
  .history__moment:nth-of-type(even) .history__date::after {
    right: 0;
    left: -8%;
  }
  .history__moment:nth-of-type(even) .history__title {
    padding-left: 10%;
    padding-right: 0;
  }
  .history__timeline {
    padding: 7vh 0;
    margin: 0 10%;
  }
  .history__timeline::before, .history__timeline::after {
    left: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .history {
    margin: 0 10%;
  }
  .history__timeline {
    font-size: 1.1em;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7vh;
  background: #0b0b11;
  font-size: 0.7em;
}

.footer__resources {
  display: block;
  width: 35%;
  margin: 0 auto;
}

.footer__resources__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-family: SansProExtraLight;
  text-decoration: none;
}

.footer__social {
  display: block;
  text-align: center;
  width: 48%;
  margin: 0 auto;
}

.footer__social__caption {
  padding-top: 4%;
  font-family: SansProLight;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 4%;
}

.footer__icons__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .footer {
    font-size: 1em;
  }
  .footer__resources {
    width: 30%;
    margin: 0 auto;
  }
  .footer__social {
    display: block;
    text-align: center;
    width: 40%;
    margin: 0 auto;
  }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .footer__resources {
    width: 20%;
  }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
  }
  .footer__social__caption {
    text-align: center;
    width: 40%;
    padding: 0;
  }
  .footer__icons {
    width: 40%;
    margin: 0 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer__resources {
    width: 40%;
  }
  .footer__social {
    width: 50%;
    margin: 0 0;
  }
  .footer__icons {
    width: 40%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .footer__social {
    width: 40%;
  }
  .footer__social__caption {
    width: 38%;
  }
}
/*# sourceMappingURL=style.css.map */