@import "./fonts&variables/fonts.scss";
@import "./fonts&variables/variables&keyframes.scss";
@import "./fonts&variables/scrollbar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SansProRegular;
  color: white;
}

#root{
  background-color: rgba(0,0,7,.938);
}

#root, body {
  overflow-x: hidden;
  a:focus { 
    outline: none; 
  }
}


@import "./partials/navbar.scss";
@import "./mediaqueries/nav-mq.scss";

@import "./homepage/homepage.scss";
@import "./mediaqueries/hp-mq.scss";

@import "./about/about.scss";
@import "./mediaqueries/ab-mq.scss";

@import "./fleet/fleet.scss";
@import "./mediaqueries/f-mq.scss";

@import "./fleet/individualRocket/individualRocket.scss";
@import "./mediaqueries/ir-mq.scss";

@import "./careers/careers.scss";
@import "./mediaqueries/careers-mq.scss";

@import "./history/history.scss";
@import "./mediaqueries/his-mq.scss";

@import "./partials/footer.scss";
@import "./mediaqueries/foot-mq.scss";