::-webkit-scrollbar {
    position: absolute;
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background: #010108;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: grey;
}