::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    position: absolute;
}

::-webkit-scrollbar-track {
    background: #010108;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}