@keyframes transitionIn {
    from {
      min-height: 0vh;
    }
    to {
      min-height: 8vh;
    }
}

@keyframes op {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.8;
    }
}
@keyframes NavLinkFadeIn{
  from{
    transform: translateX(150px);
    width: 0;
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    width: 100%;
    opacity: 1;
  }
}

@keyframes NavLinkFadeOut{
  from{
    transform: translateX(0);
    width: 100%;
    opacity: 1;
  }
  to{
    transform: translateX(150px);
    width: 0;
    opacity: 0;
  }
}

$first: rgb(8, 35, 70);
$second: rgb(17, 52, 87);
$third:rgb(52, 86, 120);
$fourth: rgb(35, 69, 103);
$fifth: rgb(16, 16, 23);