@mixin moveEffect($left, $top, $opct) {
    left: $left;
    top: $top;
    transform: translate(-50%, -50%);
    opacity: $opct;
}

@mixin heightWidth($h, $w) {
    height: $h;
    width: $w;
}

.rocket-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    padding-top: 8vh;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    text-align: center;
}

.rocket {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0 auto;
    overflow: hidden;
    &__title {
        position: absolute;
        font-family: SansProBold;
        font-size: 1.25em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        @include moveEffect(50%, 50%, 0.8);
    }
    &__img {
        @include heightWidth(100%, 100%);
        object-fit: cover;
        border-radius: 2%;
        filter: blur(0.75px) grayscale(50%);
        opacity: 0.8;
        transition: 0.25s;
    }
    &__link {
        @include heightWidth(65%, 80%);
        text-decoration: none;
        opacity: 0;
        &--active {
            opacity: 0.8;
            transition: all .3s;
        }
        &:active{
            .rocket__img {
                @include heightWidth(96%, 96%);
                box-shadow: 0 0 15px rgb(41, 39, 39);
                filter: blur(0px) grayscale(10%);
            }
            .rocket__title {
                transform: translate3d(5%);
                font-size: 1.45em;
                transition: 0.25s;
                opacity: 1;
            }
        }
    }
}